@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  color: #fff;
  background-color: #0A0A0A;
}

.base-section {
  @apply mx-auto max-w-7xl sm:px-6 lg:px-8 container px-5;
}

.btn-round {
  @apply bg-primary-100 w-[160px] h-[60px] rounded-full p-4 hover:scale-110 font-medium text-lg transition;
}

.btn-circle {
  @apply bg-primary-200 w-[60px] h-[60px] rounded-full p-4 hover:scale-110 font-medium text-lg transition;
}

h1 {
  @apply font-semibold;
}

h2 {
  @apply font-semibold;
}

h3 {
  @apply font-semibold;
}

p {
  @apply text-base font-normal;
}
